body {
  margin: 0;
}  

*,:after,:before { 
    box-sizing: border-box;
} 

* { 
  box-sizing: border-box;
} 

.container-foot { 
    width: 100%; 
    margin-right: auto; 
    margin-left: auto;
    max-width: 1300px;
    margin-left: 50px;
} 

.row-foot { 
    display: flex; 
    flex-wrap: wrap; 
    
} 

.row-foot > *  { 
    flex-shrink: 0; 
    width: 100%; 
    max-width: 100%; 
} 

#footer-menu { 
    background: #171717; 
    padding: 40px 20px;
} 


  .col-foot2 { 
    flex: 0 0 auto; 
    width: 100%;
    padding-left: 70px;
  } 
  
  .col-o15 { 
    flex: 0 0 auto; 
    width: 20%;
  } 
  


  .text-b1r { 
    text-align: center!important;
  } 
    


.text-foot2 { 
    text-align: left!important;
  } 
   

.footer-4 { 
    text-align: right;
} 

.contact-title:after { 
    background: #0e1a23; 
    content: " "; 
    display: block; 
    height: 3px; 
    margin-bottom: 20px; 
    width: 45px;
} 

 
  .col-foot { 
    flex: 0 0 auto; 
    width: 65%;
  } 

  .col-foot1 { 
    /*menu yang di bawah*/
    flex: 0 0 auto; 
    width: 75%;
  } 

  .col-foot3 {  
    /*tulisan yg di bawah*/
    flex: 0 0 auto; 
    width: 20%;
  } 
  
    
.footer-2 { 
    text-align: center;

} 


  .col-foot4 { 
    flex: 0 0 auto; 
    width: 50%;
  } 
   

img { 
    vertical-align: middle;
} 

.footer-4 img  { 
    max-width: 160px;
    margin-left: 80%;
} 

.header-foot { 
    align-items: center; 
    -webkit-align-items: center; 
    display: inline-flex; 
    height: 100%;
} 

#footer-menu .header-foot  { 
    align-items: flex-start!important;
    margin-left: 10px;
} 

.footer-3 { 
    color: #4f575e; 
    font-size: 14px; 
    margin-top: 10px;
    text-align: left;
    font-family: sans-serif;
} 

ul { 
    padding-left: 2rem;
} 

ul { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

.footer-1 ul  { 
    display: flex; 
    list-style: none!important; 
    padding: 0!important; 
    width: 100%;
} 

a { 
    color: #0d6efd; 
    text-decoration: underline;
} 

a { 
    text-decoration: none;
} 

.header-foot a  { 
    align-content: center; 
    border: 1px solid #3a3a3a; 
    border-radius: 30px; 
    display: inline-grid; 
    height: 30px; 
    justify-content: center; 
    margin-right: 4px; 
    transition: .3s; 
    width: 30px;
} 

a:hover { 
    color: #0a58ca;
} 

.header-foot a:hover { 
    border: 1px solid #db0d15; 
    color: #fff!important; 
    transition: .3s;
} 

.cookiebot-hrd { 
    color: #4f575e; 
    font-size: 14px; 
    margin-top: 10px;
    font-family: sans-serif;
    margin-left: 60px;
} 

.footer-1 ul li  { 
    margin-right: 10px;
} 


  .footer-1 ul li  { 
    margin-right: 10px;
  } 
   

.footer-1 ul li  { 
    display: inline-flex; 
    margin-right: 15px;
} 

.footer-1 ul li:last-child  { 
    margin-right: 0;
} 

svg { 
    vertical-align: middle;
} 

.header-foot svg  { 
    max-width: 15px; 
    width: 15px;
} 

.footer-1 ul li a  { 
    font-family: proxima-nova-extra-condensed,sans-serif; 
    font-size: 12px; 
    font-weight: 700; 
    transition: all .3s;
} 

.footer-1 ul li a  { 
    color: #fff; 
    font-size: 12px; 
    line-height: 17px; 
    text-align: center;
} 

.footer-1 ul li a:hover { 
    color: #db0d15;
} 

.aonyl { 
    opacity: 0.229; 
    enable-background: new;
} 

.aonyl { 
    fill-rule: evenodd; 
    clip-rule: evenodd; 
    fill: #FFFFFF;
} 


